   .font-size-12{
    font-size: 12px;
   }
   .font-size-14{
    font-size: 14px;
   }
   .font-weight-600{
     font-weight: 600;
   }
   .font-weight-300{
    font-weight: 300;
  }

   .font-size-13{
    font-size: 13px;
   }
  .font-size-24{
    font-size: 24px;
  }
  .font-size-20{
    font-size: 20px;
  }
  .font-size-18{
    font-size: 18px;
  }

  .font-size-16{
    font-size: 16px;
  }
  .line-height-24{
    line-height: 24px;
  }
  .font-size-32{
    font-size: 32px;
  }
  .font-size-42{
    font-size: 42px;
  }
  .line-height-32{
    line-height: 32px;
  }
  .testapi-textcolor{
    color: #f4f4f4;
  }